<%# Паршал для вывода отдельной фотографии %>
<div class="event-photo buffer-both">

  <%# Показываем не только фотку, но и юзаре, который её добавил %>
  Добавил <%= render partial: 'users/user', object: photo.user %>
</div>
